%h2= "All Tasks"
.page_summary= "#{@tasks.count} tasks shown"
%table.table.table-hover.task_table
	%thead
		%tr
			%th
				Client/Task Name
			%th
				Est. #
			%th
				Notes
			%th.cell_small
				Resp.
			%th.cell_small
				= image_tag('neXt_X.png', width: '25')
			%th 
				Frozen?
			%th
				Completed
			%th
				Created
			%th
				Due
			%th
				Size
				
	%tbody
		- unless @tasks.size == 0
			- @tasks.each do |t|
				%tr.task_row{'data-task-id' => t.id}
					%td= t.client_name
					%td= t.estimate_number
					%td
						= render_status_stamp(t)
						= render_summary(t.summary)
					%td.cell_small= render_task_initials_field(t, 'delegated_to')
					%td.cell_small= render_task_initials_field(t, 'completed_by')
					%td.cell_small= t.iced? ? 'Y' : 'N' 
					%td= t.completed_on.strftime("%a, %m-%d") if t.complete?
					%td= t.created_at.strftime("%a, %m-%d")
					%td.cell_medium= render_due_date(t.due_date)
					%td.cell_small= render_duration(t.duration)