%h2= "All Tasks"
.page_summary= "#{@tasks.count} tasks shown"
%table.table.table-hover.task_table
	%thead
		%tr
			%th
				Client/Task Name
			%th
				Est. #
			%th
				Size
			%th
				Notes
			%th
				Design
			%th.cell_small
				Resp.
			%th 
				Frozen?
			%th
				Completed On
			%th
				Created
			%th
				Due
				
	%tbody
		- unless @tasks.size == 0
			- @tasks.each do |t|
				%tr.task_row{'data-task-id' => t.id}
					%td= t.client_name
					%td= t.estimate_number
					%td.cell_small= render_duration(t.duration)
					%td= render_summary(t.summary)
					- responsible = t.completed_by.blank? ? t.delegated_to : t.completed_by
					%td
						- if t.status == 'P'
							= image_tag('submitted_for_review.png', :class => 'status_stamp')
						- elsif t.status == 'A'
							= image_tag('approved_stamp.png', :class => 'status_stamp')
					%td.cell_small= image_tag("avatars/#{responsible.downcase}.jpeg", class: 'img-circle') if responsible
					%td.cell_small= t.iced? ? 'Y' : 'N' 
					%td= t.completed_on.strftime("%a, %m-%d") if t.complete?
					%td= t.created_at.strftime("%a, %m-%d")
					%td.cell_medium= render_due_date(t.due_date)