%h2= "History"
.page_summary= "#{@task_history.count} completed tasks shown"
%table.table.table-hover.task_table
	%thead
		%tr
			%th
				Client/Task Name
			%th
				Est. #
			%th
				Size
			%th
				Notes
			%th
				Design
			%th.cell_small
				= image_tag('neXt_X.png', width: '25')
	%tbody
		- unless @task_history.size == 0
			- completed_on = Date.today
			%tr.date_row
				- unless @task_history.first.completed_on != completed_on
					%th{'colspan' => '6'} Today
			- @task_history.each do |t|
				- if completed_on != t.completed_on.to_date
					- completed_on = t.completed_on.to_date
					%tr.date_row
						%th{'colspan' => '6'}= completed_on.strftime("%a, %m-%d")
				%tr.task_row{'data-task-id' => t.id}
					%td= t.client_name
					%td= t.estimate_number
					%td= render_duration(t.duration)
					%td= render_summary(t.summary)
					%td
						- if t.status == 'P'
							= image_tag('submitted_for_review.png', :class => 'status_stamp')
						- elsif t.status == 'A'
							= image_tag('approved_stamp.png', :class => 'status_stamp')
					%td.cell_small= image_tag("avatars/#{t.completed_by.downcase}.jpeg", class: 'img-circle')