%table.table.table-hover.table-bordered.task_table
	%caption= "Task History - Showing #{@task_history.count} tasks"
	%br
	%thead
		%tr
			%th
				Client/Task Name
			%th
				Size
			%th
				Notes
			%th
				Resp.
			%th
				= image_tag('neXt_X.png', width: '25')
			%th
				Created
	%tbody
		- completed_on = Date.today
		%tr.date_row
			%th{'colspan' => '6'} Today
		- @task_history.each do |t|
			- if completed_on != t.completed_on.to_date
				- completed_on = t.completed_on.to_date
				%tr.date_row
					%th{'colspan' => '6'}= completed_on.strftime("%a, %m-%d")
			%tr.task_row{'data-task-id' => t.id}
				%td= t.client_name
				%td= render_duration(t.duration)
				%td= render_summary(t.summary)
				%td 
					= render_headshot(t.delegated_to)
					= t.delegated_to
				%td
					= render_headshot(t.completed_by)
					= t.completed_by
				%td= t.created_at.strftime("%a, %m-%d")