%h2
	= image_tag("avatars/#{@initials.downcase}.jpeg", class: 'headshot_filter img-circle')
	= @user_name
%table.queue_table.table.table-hover.task_table
	%caption To Do
	%thead
		%tr
			%th.cell_large
				Client/Task Name
			%th.cell_small
				Pri.
			%th.cell_small
				Size
			%th.cell_large
				Notes
			%th.cell_small
				= image_tag('neXt_X.png', width: '25')
			%th.cell_medium
				Due Date
			%th.cell_medium
				Created
			
	%tbody
		- if @tasks.empty? and @suggested_task
			%tr
				%td{'colspan' => '7'}
					%b
						= "Your queue is empty! How about doing "
						%a.task_suggestion{'data-task-id' => @suggested_task.id, 'data-delegated-to' => @initials}
							= @suggested_task.client_name
							- unless @suggested_task.summary.blank?
								= "> #{@suggested_task.summary}"
							= "?"
		- else
			- @tasks.each do |t|
				%tr.task_row{'data-task-id' => t.id}
					%td.cell_large= t.client_name
					%td.cell_small= render_priority(t.priority)
					%td.cell_small= render_duration(t.duration)
					%td.cell_large
						= render_status_updater(t)
						= render_summary(t.summary)
					%td.cell_small= render_task_initials_field(t, 'completed_by')
					%td.cell_medium= render_due_date(t.due_date)
					%td.cell_medium= "#{distance_of_time_in_words_to_now(t.created_at)} ago"
			
%table.table.table-hover.task_table
	%caption Completed Today
	%br
	%thead
		%tr
			%th
				Client/Task Name
			%th
				Size
			%th
				Notes
			%th.cell_small
				Resp.
			%th.cell_small
				= image_tag('neXt_X.png', width: '25')
			%th
				Created
	%tbody
		- if @tasks_done_today.empty?
			%tr
				%td
					%b You've accomplished nothing :(
		- else
			- @tasks_done_today.each do |t|
				%tr.task_row{'data-task-id' => t.id}
					%td= t.client_name
					%td= render_duration(t.duration)
					%td
						= render_status_updater(t)
						= render_summary(t.summary)
					%td.cell_small= render_task_initials_field(t, 'delegated_to') 
					%td.cell_small= render_task_initials_field(t, 'completed_by')
					%td= t.created_at.strftime("%a, %m-%d")