%table.queue_table.table.table-hover.table-bordered
	%thead
		%tr
			%th
				Client Name
			%th
				Priority
			%th
				Duration
			%th
				Summary
			%th
				Delegated?
			%th
				Done?
			%th
				Due
			%th
			
	%tbody		
		- @queue.each do |t|
			%tr
				%td= t.client_name
				%td= t.priority
				%td= t.duration
				%td= t.summary
				%td= initials_field_tag('delegated_to', t)
				%td= initials_field_tag('completed_by', t)
				%td= render_due_date(t.due_date)
				%td= image_tag('delete_icon.png', {:class => 'delete_icon', 'data-task-id' => t.id} )

%br
%table.table.table-hover.table-bordered
	%caption Tasks Done Today
	%thead
		%tr
			%th
				Client Name
			%th
				Duration
			%th
				Summary
			%th
				Delegated?
			%th
				Done?
			%th
				Due
	%tbody
		- @tasks_done_today.each do |t|
			%tr
				%td= t.client_name
				%td= t.duration
				%td= t.summary
				%td= initials_field_tag('delegated_to', t)
				%td= initials_field_tag('completed_by', t)
				%td= t.due_date