%table
	%thead
		%tr
			%th
				Client Name
			%th
				Priority
			%th
				Duration
			%th
				Summary
			%th
				Delegated?
			%th
				Due
				
	- @tasks.each do |t|
		%tr
			%td= t.client_name
			%td= t.priority
			%td= t.duration
			%td= t.summary
			%td= t.delegated_to
			%td= t.due_date