%h2= "To Do"
.page_summary
	.work_hours_indicator 
		%span Hours left:
	.work_hours_indicator
		%span= @high_hours.ceil
		= image_tag("priorities/high.png", height: '20', width: '20', class: 'indicator_circle')
	.work_hours_indicator
		%span= @medium_hours.ceil
		= image_tag("priorities/high.png", height: '20', width: '20', class: 'indicator_circle')
		= image_tag("priorities/medium.png", height: '20', width: '20', class: 'indicator_circle')
	.work_hours_indicator
		%span= @low_hours.ceil
		= image_tag("priorities/high.png", height: '20', width: '20')
		= image_tag("priorities/medium.png", height: '20', width: '20')
		= image_tag("priorities/low.png", height: '20', width: '20')
	.work_hours_indicator
		%span= @frozen_hours.ceil
		= image_tag("priorities/frozen.png", height: '20', width: '20')
%table.queue_table.table.table-hover.task_table
	%thead
		%tr
			%th.cell_large
				Client/Task Name
			%th.cell_small
				Est. #
			%th.cell_small
				Size
			%th.cell_large
				Notes
			%th.cell_small
				Respon.
			%th.is_active_column
				Active
			%th.cell_small
				= image_tag('neXt_X.png', width: '25')
			%th.cell_medium
				Due Date
			%th.cell_medium
				Created
	%tbody
		- @prioritized.each_with_index do |p, i|
			%tr
				%th.priority_header{'colspan' => '8'}
					= image_tag("priorities/#{@priorities[i].downcase}.png", height: '20', width: '20') 
					= @priorities[i]

			- p.each do |t|
				%tr.task_row{'data-task-id' => t.id}
					%td.cell_large= t.client_name
					%td.cell_small= t.estimate_number
					%td.cell_small= render_duration(t.duration)
					%td.cell_large
						= render_status_updater(t)
						= render_summary(t.summary)
					%td.cell_small= render_task_initials_field(t, 'delegated_to')
					%td.is_active_column= render_gears(t)
					%td.cell_small= render_task_initials_field(t, 'completed_by')
					%td.cell_medium= render_due_date(t.due_date)
					%td.cell_medium= "#{distance_of_time_in_words_to_now(t.created_at)} ago"