!!! 5
%html
	%head
		%title neXt
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		.hero-unit
			%h1 neXt
			%br
			= form_tag("/users/login", method: "post") do
				%fieldset
					= text_field_tag :initials, nil, placeholder: "Your Initials"
					%br
					= password_field_tag :password, nil, placeholder: "Password"
					%br
					%button{type: "submit", class:"btn"} Sign In