!!! 5
%html
	%head
		%title neXt
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
		= favicon_link_tag 'neXt_X.png'
	%body
		#page
			%nav#top_menu
				#page_title= image_tag 'neXt_logo.png'
				.btn-group
					= link_to "To Do", url_for(controller: 'tasks', action: 'to_do'), class: 'btn'
					= link_to "History", {controller: 'tasks', action: 'history'}, class: 'btn'
					= link_to "All Tasks", {controller: 'tasks', action: 'all'}, class: 'btn'
					= link_to "News", {controller: 'comments', action: 'list'}, class: 'btn'
					= link_to "Points", {controller: 'tasks', action: 'points'}, class: 'btn'
					= link_to "FAQ", {controller: 'tasks', action: 'faq'}, class: 'btn'
					
				.btn-group
					%button#add_task_button.btn	Create Task
				#headshot_filters.btn-group
					- Task.active_staff.each do |initials|
						= image_tag("avatars/#{initials.downcase}.jpeg", class: 'headshot_filter img-circle enlargeable')

			#content
				- if flash[:notice]
					.notification= flash[:notice]
				- unless @latest_news.blank?
					.recent_news
						- @latest_news.each do |n|
							.comment
								.comment_timestamp.banner_timestamp= n.created_at.strftime('%a, %l:%M %p')
								.banner_comment_body= n.body
				= yield
			
			#footer= "neXt v5 - Last updated April, 2016 - Developed by Nick Pink using Ruby on Rails #{Rails::VERSION::STRING} and Ruby #{RUBY_VERSION}"
		#task_form.modal.hide.fade