!!! 5
%html
	%head
		%title neXt
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		%nav#top_menu
			#page_title neXt
			.btn-group
				%button.btn Task Queue
				%button#add_task_button.btn	Add Task
				%button.btn= link_to('Logout', {controller: 'users', action: 'logout'}, method: 'post')

		#content
			= yield
		
		#add_task_form.modal.hide.fade
			.modal-dialog
				.modal-content
					= form_for @task, url: {action: 'create'} do |f|
						.modal-header
							%h4.modal-title Add Task
						
						.modal-body
							.form-group
								= f.text_field :client_name, {placeholder: 'Client Name'}
							.form-group
								= f.text_field :summary, {placeholder: 'Summary'}
							.form-group
								= f.label :due_date
								= f.date_field :due_date, value: Date.today.strftime("%Y-%m-%d")
							.form_group
								= f.label :duration, "Duration"
								= f.select :duration, options_for_select(Task.minutes_to_complete_options)
							.form_group
								= f.text_field :delegated_to, {placeholder: 'Delegated?'}
								
							
						.modal-footer
							%input.btn.btn-primary{'type' => 'submit'}
							%button.btn.btn-default{'data-dismiss' => 'modal'} Cancel