!!! 5
%html
	%head
		%title neXt
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		%nav#top_menu
			#page_title neXt
			.btn-group
				%button.btn Task Queue
				%button#add_task_button.btn	Add Task

		#content
			= yield
		
		#add_task_form.modal.hide.fade
			.modal-dialog
				.modal-content
					= form_for @task, url: {action: 'create'} do |f|
						.modal-header
							%h4.modal-title Add Task
						
						.modal-body
							- @f = f
							= render 'task_fields'
							
						.modal-footer
							%input.btn.btn-primary{'type' => 'submit'}
							%button.btn.btn-default{'data-dismiss' => 'modal'} Cancel
		#edit_task_form.modal.hide.fade