!!! 5
%html
	%head
		%title neXt
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
		= favicon_link_tag 'neXt_X.png'
	%body
		%nav#top_menu
			#page_title= image_tag 'neXt_logo.png'
			.btn-group
				= link_to "Task Queue", {controller: 'tasks', action: 'render_queue'}, class: 'btn'
				= link_to "Task History", {controller: 'tasks', action: 'history'}, class: 'btn'
				= link_to "News", {controller: 'comments', action: 'list'}, class: 'btn'
			.btn-group
				%button#add_task_button.btn	Create Task

		#content
			- if flash[:notice]
				%div.alert.alert-success{'role' => "alert"}= flash[:notice]
			- if @latest_news
				%div.alert.alert-info{'role' => "alert"}= "Latest News: '#{@latest_news}'"
			= yield
			
		= render "tasks/create"
		
		#footer
			= "Version 3, Last updated July 9, 2015 ---- (Date: #{Date.today}, Time: #{Time.now})"