!!! 5
%html
	%head
		%title Steve
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		%nav#top_menu
			#page_title Steve
			%ul
				%li Today
				%li Find
				%li Add
				%li Calendar
				%li= link_to('Logout', {controller: 'users', action: 'logout'}, method: 'post')
		#content
			= yield