!!! 5
%html
	%head
		%title neXt
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		%nav#top_menu
			#page_title neXt
			.btn-group
				= link_to "Task Queue", {controller: 'tasks', action: 'render_queue'}, class: 'btn'
				%button#add_task_button.btn	Create Task
				= link_to "Task History", {controller: 'tasks', action: 'history'}, class: 'btn'

		#content
			= yield
		= render "create"